################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Src/bin/
/Src/obj/
/.vs
*.suo
*.user
*.dgml
/Test/Bridge.CustomUIMarkup.Test/bin/Debug
/Test/Bridge.CustomUIMarkup.Test/obj
