################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/packages
/Src/bin/
/Src/obj/
/.vs
*.suo
*.user
*.dgml
/Bridge.CustomUIMarkup/bin/
/Bridge.CustomUIMarkup/obj/
/Bridge.CustomUIMarkup.Test/bin/
/Bridge.CustomUIMarkup.Test/obj/
